<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{>header}}                          <!--partials -->
        <p>{{screamIt welcomeMessage}}</p>  <!--helper  helper by name,data we wanna pass-->

        {{>footer}}
    </body>
</html>
